body{
    font-family: 'Alegreya Sans SC', serif;
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

a:visited{
    color:blue
}

.nav_links{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.pricing header{
    background-color: #288088;
    border-style: solid;
    border-color: #45ADAD;
    border-width: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;

}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    justify-content: space-between;
}

#image1, #image2, #image3, #image4, #image5{
    border-style: solid;
    border-width: 10px;
    border-color: #50C7C7;
    width: 300px;
    margin: 10px 10px 10px 10px;
}

.gallery{
    display: flex;
    align-items: flex-start;
}

#logo{
    animation-name:logo;
    animation-duration: 5s;
}

@keyframes logo {
        from{
            width: 50px;
            opacity: 0;
        }
        to{
            width: 425px;
            opacity: 1;
        }
}

@media screen and (min-width: 850px){

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
    }

    body header{
        position:sticky;
        top: 0;
        z-index: 1;
    }
    div.pricing header{
        position: relative;
        z-index: 0;
    }

    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* flex-basis: 250px; */
    }

    .card{
        display: flex;
        flex-direction: column;
        flex-basis: 250px;
        justify-content: space-between;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    #logo{
        animation-duration: 0s;
    }
}

@media print {
    body{
        background-image: none;

    }
    .nav_links{
        display: flex;
        flex-direction: row;


    }

    .nav_item {
        display:flex;
        /* justify-content: space-between; */
        flex-direction: row;
        padding-left: 120px;
        padding-right: 120px;
    
    }

    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* flex-basis: 250px; */
    }

    .card{
        display: flex;
        flex-direction: column;
        flex-basis: 250px;
        justify-content: space-between;
        border-style: solid;
        border-width: 2px;
        border-color: #45ADDD;
    }

    .gallery, #gallery{
        display: none;

    }

    div.card ul li:nth-child(odd)::before{
        content: "\1F44D";

    }

    div.card ul li:nth-child(even)::after{
        content: "\1F44D";

    }

}